


body {
    background-image: url(wood-board-background.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


#navbar {
    background-color: rgb(50, 50, 50) !important;
    position: fixed;
    width: 100%;
    z-index: 1000;

}
/* .card {
    background-color: #F5EE9E !important;
} */

.colorful-card {
    transition: background-color 0.5s ease; /* Ajout d'une transition pour une animation fluide */
  }
  
  .colorful-card:hover {
    background-color: var(--bs-info); /* Couleur de survol (peut être ajustée selon vos besoins) */
  }
  
